@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.modal__open {
  overflow: hidden;
}

.contact__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.play__icon__wrapper {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 36, 255, 0) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 36, 255, 0) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 36, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0024ff",GradientType=1);
}

.rounded__ring {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(circle, #3ec880, rgba(0, 36, 255, 0) 100%);
  background: -webkit-radial-gradient(
    circle,
    #3ec880,
    rgba(0, 36, 255, 0) 100%
  );
  background: radial-gradient(circle, #3ec880, rgba(0, 36, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0024ff",GradientType=1);
  border-radius: 100%;
}
